{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block navbar %}
                  <li class="nav-item g-ml-15--lg">
                    <a href="{{ url_for('list_events') }}" class="nav-link g-color-white p-0">My Activities</a>
                  </li>
                  <li class="nav-item g-ml-15--lg">
                    <a href="{{ url_for('logout') }}" class="nav-link g-color-white p-0">Log out</a>
                  </li>
{% endblock %}

{% block content %}

    <h1>About</h1>



<blockquote class="blockquote">30 second survey to determine interest in an activity.</blockquote>

<H3>Sharp Edges</H3>
  <div>
    <p class="lead">
    This app has sharp edges - by design. There are no warnings. When you take an action (e.g., click "cancel") the app does just that. There is no undo. You can always re-create an event.
    </p>
  </div>

<H3>Simple</H3>
  <div>
    <p class="lead">
    This app has few features by design. It's job is to answer a single question with little friction: "Are we going to X or not?"
    </p>
  </div>
{% endblock %}