{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block navbar %} |
<a href="{{ url_for('list_events') }}">My Activities</a> |
<a href="{{ url_for('logout') }}">Log out</a>
{% endblock %}

{% block content %}

    <h1>About</h1>



<blockquote class="blockquote">"Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away." - Antoine de Saint-Exupery</blockquote>

<H3>Sharp Edges</H3>
  <div>
    <p class="lead">
    This app has sharp edges - by design. There are no warnings. When you take an action (e.g., click "cancel") the app does just that. There is no undo.
    </p>
  </div>

{% endblock %}