{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block content %}

  <h1>Action Confirmation</h1>

  <div class="alert alert-success" role="alert">
  OK, {{ user.screen_name }}. {{message}}
</div>

  <h3>Where to next?</h3>
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/">Home Page</a>
  </li>
  <li class="nav-item">
    <a href="{{ url_for('list_events') }}">My Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Something else 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Something else 3</a>
  </li>
</ul>

{% endblock %}