{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block navbar %} |
<a href="{{ url_for('list_events') }}">My Activities</a> |
<a href="{{ url_for('logout') }}">Log out</a>

{% endblock %}

{% block content %}
  <h1>Event Created</h1>
      <div class="container">

      <table class="table table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>Date</th>
          <th>Undo?</th>
        </tr>
      </thead>
      <tbody>
                    <tr>
                      <td>{{ description}}</td>
                      <td>{{ date }}</td>
                      <td><a href="{{ url_for('canceleventwithafootprint', event_footprint=event_footprint) }}"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancel Event</a></td>
                    </tr>
      </tbody>
      </table>
  </div>
        <H1>Final Step: Invite Participants</H1>

  <div class="alert alert-success" role="alert">
        <p class="lead">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
        Email or message this link: http://127.0.0.1:4995/to?this={{event_footprint}}
        </p>
  </div>
{% endblock %}
