{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block navbar %} |
<a href="{{ url_for('list_events') }}">My Activities</a> |
<a href="{{ url_for('logout') }}">Log out</a>

{% endblock %}

{% block content %}
  <h1>Event Created</h1>
      <div class="container">
      <H3>Activity Details</H3>
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>Date</th>
          <th>Undo?</th>
        </tr>
      </thead>
      <tbody>
                    <tr>
                      <td>{{ description}}</td>
                      <td>{{ date }}</td>
                      <td><a href="{{ url_for('canceleventwithafootprint', event_footprint=event_footprint) }}">Cancel Event</a></td>
                    </tr>
      </tbody>
      </table>

        <H3>Next Step</H3>
        <p class="lead">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
        Share this link with friends: http://127.0.0.1:4995/showevent?event_footprint={{event_footprint}}
    </p>
  </div>

{% endblock %}
