{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block navbar %} |
<a href="{{ url_for('list_events') }}">My Activities</a> |
<a href="{{ url_for('logout') }}">Log out</a>

{% endblock %}



{% block content %}
  <h1><i class="fa fa-edit"></i> Create event</h1>
    <p class="lead">
    {{ user.screen_name }}, where are we going?
    </p>
    <form action="{{ url_for('eventconfirmation') }}">
        <label for="description">Event description</label>
        <input type="text" name="description" id="description" placeholder="What are we doing?">
        <label for="date">Date & Time</label>
        <input type="text" name="date" id="date" placeholder="e.g., 2018-11-28 5:00 PM">
        <button type = "submit" class="btn btn-primary">Create Event</button>
    </form>

{% endblock %}
