{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block content %}
  <h1>Event Created</h1>
    <p class="lead">
    {{ user.screen_name }} has made this query: Description {{ description}}, Date {{ date }}, organizer_id {{organizer_id}}, event_footprint {{ event_footprint }}
    </p>

      <div class="container">
      <H3>Activity Details</H3>
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th>Date</th>
          <th>Need to undo?</th>
        </tr>
      </thead>
      <tbody>
                    <tr>
                      <td>{{ description}}</td>
                      <td>{{ date }}</td>
                      <td><a href="{{ url_for('canceleventwithafootprint', event_footprint=event_footprint) }}">Cancel Event</a></td>
                    </tr>
      </tbody>
      </table>

  </div>

{% endblock %}
