{% extends "base.html" %}

    {% block head %}
              <script type="text/javascript">
                function copyToClipboard(element) {
                  var $temp = $("<input>");
                  $("body").append($temp);
                  $temp.val($(element).text()).select();
                  document.execCommand("copy");
                  $temp.remove();
                }
              </script>
    {% endblock %}

{% block header_title_lead %}

{% endblock %}


{% block navbar %} |
<a href="{{ url_for('list_events') }}">My Activities</a> |
<a href="{{ url_for('logout') }}">Log out</a>
{% endblock %}
{% block content %}

  <div class="container">
    <H3>Activity Details</H3>
       <p class="lead">
         "<STRONG>{{description}}</STRONG>" on <STRONG>{{date}}</STRONG>.
        </p>
  </div>


    <div class="container">
      {% if participants != None %}

      <H3>Min needed: <span class="badge badge-secondary">{{min_participants}}</span> Interested: <span class="badge badge-secondary">{{participants_count}}</span></H3>
      <table class="table table-responsive">
      <thead>
        <tr>
          <th>Participant Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
            {% for participant in participants %}
                    <tr>
                      <td>{{ participant[0] }}</td>
                      <td>{{ participant[1] }}</td>
                    </tr>
            {% endfor %}
      </tbody>
      </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
        <h6>No participants signed-up. Send a link to some!</h6>
        </div>
    {% endif %}
  </div>



  <div class="container">
    <h3>Invite participants</h3>
        <p class="lead">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            <button onclick="copyToClipboard('#p1')" class="btn btn-primary">Copy Link</button>
        and message participants: <strong id="p1">{{app_url}}/to?this={{event_footprint}}</strong>
        </p>
  </div>



{% endblock %}

