{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block content %}

    <div class="container">
      <H3>Activity Details</H3>
      <table class="table table-responsive">
      <thead>
        <tr>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
                    <tr>
                      <td>{{description}}</td>
                      <td>{{date}}</td>
                    </tr>
      </tbody>
      </table>

  </div>
<P></P>
Here are the participants...




{% endblock %}

