{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block content %}

  <div class="container">
    <H3>Activity Details</H3>
       <p class="lead">
         "<STRONG>{{description}}</STRONG>" on <STRONG>{{date}}</STRONG>.
        </p>
  </div>


    <div class="container">
      {% if participants != None %}

      <H3>Participants | Min needed: <span class="badge badge-secondary">{{min_participants}}</span> Interested: <span class="badge badge-secondary">{{participants_count}}</span></H3>
      <table class="table table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
            {% for participant in participants %}
                    <tr>
                      <td>{{ participant[0] }}</td>
                      <td>{{ participant[1] }}</td>
                    </tr>
            {% endfor %}
      </tbody>
      </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
        <h6>No participants signed-up. Send a link to some!</h6>
        </div>
    {% endif %}
  </div>



  <div class="container">
    <h3>Invite participants</h3>
        <p class="lead">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
        Email or message this link: http://127.0.0.1:4995/to?this={{event_footprint}}
        </p>
  </div>



{% endblock %}

