{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block navbar %}
                  <li class="nav-item g-ml-15--lg">
                    <a href="{{ url_for('event') }}" class="nav-link g-color-white p-0">New Event</a>
                  </li>
                  <li class="nav-item g-ml-15--lg">
                    <a href="{{ url_for('logout') }}" class="nav-link g-color-white p-0">Log out</a>
                  </li>
{% endblock %}

{% block content %}


      {% if message == 'organizeronly' or message == 'participantandorganizer' or message == 'participantonly' %}
<h1>Your commitments</h1>
      {% else %}
            <H1>No events</H1>
            <p class="lead">
              Go ahead and <a href="{{ url_for('event') }}">create an activity</a>. This app is the simplest way to gauge group's interest. Give it a go.
            </p>
      {% endif %}


    <div class="container">
        {% if message == 'organizeronly' or message == 'participantandorganizer' %}

        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-edit"></i> Organizer for ...</h3>
        </div>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>What</th>
          <th>When</th>
          <th>Cancel?</th>
        </tr>
      </thead>
      <tbody>
            {% for event in events %}
                    <tr>
                      <td class="text-left"><a href="{{ url_for('eventdetails', this=event[4]) }}"><i class="fa fa-share-square-o" aria-hidden="true"></i> {{ event[1] }}</a> <span class="badge badge-secondary">{% if event[6] == None %}0{% else %}{{ event[6] }}{% endif %}/{{ event[5] }} </span> participants</td>
                      <td class="text-left">{{ event[2] }}</td>
                      <td><a href="{{ url_for('cancelevent', event_id=event[0]) }}"><i class="fa fa-trash-o"></i> Cancel</a></td>
                    </tr>
            {% endfor %}
      </tbody>
      </table>
        {% endif %}

        {% if message == 'participantonly' or message == 'participantandorganizer' %}

        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-thumbs-o-up"></i> Participant for ...</h3>
        </div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>What</th>
        <th>When</th>
        <th>No Go?</th>
      </tr>
    </thead>
    <tbody>
          {% for participant_instance in participant %}
                  <tr>
                    <td>{{ participant_instance[1] }}</td>
                    <td>{{ participant_instance[2] }}</td>
                    <td><a href="{{ url_for('bailfromevent', event_id=participant_instance[0]) }}"><i class="fa fa-user-times"></i> Bail Out</a></td>
                  </tr>
          {% endfor %}
    </tbody>
    </table>
        {% endif %}
  </div>



{% endblock %}
