{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block navbar %} |
<a href="{{ url_for('list_events') }}">My Activities</a> |
<a href="{{ url_for('logout') }}">Log out</a>

{% endblock %}

{% block content %}

    <h3>Menu</h3>
    <UL>
        <LI><a href="{{ url_for('list_events') }}">View and manage activities</a></LI>
        <LI><a href="{{ url_for('event') }}">Create an activity</a></LI>
        <LI><a href="{{ url_for('workbench_list_all_events') }}">List all events - Workbench - TEMP</a></LI>



    </UL>

{% endblock %}