{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block navbar %} |
<a href="{{ url_for('list_events') }}">My Activities</a> |
<a href="{{ url_for('logout') }}">Log out</a>
{% endblock %}

{% block content %}

    <h1>Menu</h1>



<p class="lead"><a href="{{ url_for('list_events') }}"><i class="fa fa-calendar" aria-hidden="true"></i> View and manage activities</a></p>
<p class="lead"><a href="{{ url_for('event') }}"><i class="fa fa-edit"></i> Create an activity</a></p>
<p class="lead"><a href="{{ url_for('workbench_list_all_events') }}"><i class="fa fa-wrench" aria-hidden="true"></i> List all events - Workbench - TEMP</a></p>
<p class="lead"><a href="{{ url_for('about') }}"><i class="fa fa-heart"></i> About</a></p>




{% endblock %}