{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}
{% block navbar %}| <a href="{{ url_for('twitter_login') }}">Login with Twitter</a> to start{% endblock %}
{% block content %}


  <h1>Confirmed</h1>


  <div class="alert alert-success" role="alert">
    <p class="lead">
    {{ name }}, you're +1 for the <STRONG>{{ description }}</STRONG> event on <STRONG>{{ date }}</STRONG>. Please expect an email from the organizer on next steps once this is a "go".
    </p>
  </div>

<h3>Why don't you try the simplest way to gauge group's interest?</h3>
    <p class="lead">
        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
        <a href="{{ url_for('twitter_login') }}">Login with Twitter</a> to create an activity and see if others want to go. It's free.
    </p>
    <p class="lead">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        Not ready to try? Next time just ask: <a href="{{ url_for('homepage') }}">AreWeGoing.com</a>?
    </p>

<P></P>
{% endblock %}