{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block content %}

    <div class="container">
        <ul class="list-group" id="tweets">

            {% set css_class = 'list-group-item-info' %}

            {% for element in content %}
                {% if element['label'] == 'neg' %}
                    {% set css_class = 'list-group-item-danger' %}
                {% elif element['label'] == 'pos' %}
                    {% set css_class = 'list-group-item-success' %}
                {% endif %}
                <li class="list-group-item {{ css_class }}">{{ element['tweet'] }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
