{% extends "base.html" %}

{% block header_title_lead %}{% endblock %}

{% block content %}

    <div class="container">
      <H3>Activity Details</H3>
      <table class="table table-responsive">
      <thead>
        <tr>
          <th>Description</th>
          <th>Date</th>
          <th>We need +1</th>
          <th>Email</th>
          <th>Yeah?</th>
        </tr>
      </thead>
      <tbody>
                    <tr>
                      <td>{{description}}</td>
                      <td>{{date}}</td>

                      <form action="{{ url_for('joinevent')}}">
                      <td><input type="text" name="person_name" id="name" placeholder="Your Name"></td>
                        <td><input type="text" name="email" id="email" placeholder="we@dont.spam"></td>
                      <td><button type = "submit" class="btn btn-primary">Let's do it</button></td>
                        <INPUT type="password" style="display:none" name="event_id" value={{event_id}}>
                      </form>
                    </tr>
      </tbody>
      </table>

  </div>
<P></P>
E-mail will be visible to the organizer. Never sold or misused by AreWeGoing.com

{% endblock %}

